
<h1>
  <div class="container-fluid">
    <lu class="list-group">
      <li class="img-thumbnail"><%= gravatar_for @user %> </li>
      <li class="list-group-item"><%= @user.first_name %></li>
      <li class="list-group-item"><%= @user.last_name %></li>
      <li class="list-group-item"><%= @user.email%></li>
      <li class="list-group-item"><%= @user.phone%></li>
    </lu>
  </div>
</h1>
<div class="table">
  <h2>Ni単os: (<%= @user.offsprings.count %>)</h2>
  <table class="datatable table table-striped table-bordered">
    <% if @user.offsprings.any? %>
      <thead>
        <h4>Ni単os cuyo padre o tutor legal es el usuario:</h4>
      </thead>
      <tbody>
        <%= render partial: 'users/offspring', collection: @user.offsprings %>
      </tbody>
    <% end %>
  </table>
  <p>
    <%= link_to "A単adir ni単o", new_offspring_path, class:"btn btn-lg btn-info" %>
  </p>
</div>


<script>
  // Row Checkbox Selection
  $(document).ready(function () {
    $("input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
  });
<script>
<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable();
  });
</script>