<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , class: 'form-control'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actualmente esperando confirmación de: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(déjelo vacío si no quiere cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(necesitamos su password actual para confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class:"btn btn-primary btn-lg" %>
  </div>
<% end %>

<h3>Cerrar mi cuenta</h3>

<p>¿No está contento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Etsá seguro?" }, method: :delete, class:"btn btn-warning btn-lg" %></p>

<%= link_to "Back", :back %>
