
<div class="list-group list-view-pf">
  <div class="list-group-item list-view-pf-stacked">
    <div class="list-view-pf-main-info">
          <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>

      <div class="list-view-pf-body">
      <%= offspring.first_name %>
      </div>
    </div>
    <div class="list-view-pf-main-info">
      <%= offspring.last_name %>
    </div>
    <div class="list-view-pf-main-info">
      <%= offspring.age %>
    </div>
    <div class="list-view-pf-main-info">
      <%= link_to full_name_for(offspring.user),offspring.user %>
    </div>
    <div class="list-view-pf-actions">
      <% if offspring.shift.nil? %>
      <%= link_to "Asignar horario", new_assignment_path(offspring), class: "btn btn-default"%>
      <% else %>
      <%= button_to "#{week_day_convert(offspring.shift.day_of_week)}: #{offspring.shift.start_time.to_formatted_s(:time)}", assignment_path(offspring), method: :delete, data: { confirm: 'Esto borrará la asignación, ¿Está seguro?'}, class: "btn btn-warning" %>
      <% end %>
      <%= button_to "Borrar niño", { action: "destroy", controller: 'offsprings', id: offspring.id} , method: :delete, data: { confirm: 'Esta acción no puede cancelarse, ¿Está seguro?'} , class:"btn btn-primary"%>

    </div>
  </div>
</div>

