<div>
  <tr>
    <td>
      <div class="list-view-pf-body">
      <%= offspring.first_name %>
      </div>
    </td>
    <td>
      <div class="list-view-pf-body">
      <%= offspring.last_name %>
    </div>
    </td>
    <td>
        <div class="list-view-pf-body">
          <%= I18n.t offspring.grade %>
        </div>
    </td>
    <td>
        <div class="list-view-pf-body">
          <%= link_to full_name_for(offspring.user),offspring.user %>
        </div>
    </td>
    <td>
     <div class="list-view-pf-actions">
      <% if offspring.shift.nil? %>
      <%= link_to "Asignar horario", new_assignment_path(offspring), class: "btn btn-warning"%>
      <% else %>
      <%= button_to "#{week_day_convert(offspring.shift.day_of_week)}: #{offspring.shift.start_time}", assignment_path(offspring), method: :delete, data: { confirm: 'Esto borrará la asignación y comenzará una nueva, ¿Está seguro?'}, class: "btn btn-success" %>
      <% end %>
      <%= button_to "Borrar niño", { action: "destroy", controller: 'offsprings', id: offspring.id} , method: :delete, data: { confirm: 'Esta acción no puede cancelarse, ¿Está seguro?'} , class:"btn btn-primary"%>
    </div>
    </td>
  </tr>
</div> 
