
  <tr>
    <td>
      <%= gravatar_for user, size: 50 %>
    </td>
    <td>
      <%= link_to full_name_for(user), user %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.phone %>
    </td>
    <td>
      <%= user.offsprings.count %>
    </td>
    <% if  current_user && (current_user.admin? || current_user?(user)) %>
    <td>
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "¿Está seguro?" } %>
    </td>
  <% end %>
  </tr>
