<% provide(:title, @user.first_name) %>
<h1>
<div>
  <div class="container-fluid">
    <lu class="list-group">
      <li class="img-thumbnail"><%= gravatar_for @user %> </li>
      <li class="list-group-item"><%= @user.first_name %></li>
      <li class="list-group-item"><%= @user.last_name %></li>
      <li class="list-group-item"><%= @user.email%></li>
      <li class="list-group-item"><%= @user.phone%></li>
    </lu>
  </div>
  </h1)>
  <div class="table-responsive">
    <table class="datatable table table-striped table-bordered table-hover" >
      <h2>Niños: (<%= @user.offsprings.count %>)</h2>
      <thead>
        <tr>
          <th>Uno </th>
          <th>Uno </th>
          <th>Uno </th>
          <th>Uno </th>
          <th>Uno </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <% if @user.offsprings.any? %>
            <%= render @user.offsprings %>
      <% end %>
     </tr>
    </table>
  </div>


<script>
  // Row Checkbox Selection
  $(document).ready(function () {
    $("input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
  });
<script>
<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable();
  });
</script>