<div class="table-responsive">
  <table class="datatable table table-striped table-bordered table-hover" >
    <tr>
        <div class="list-view-pf-body">
        <h3><%="Aula #{room.name}, capacidad: #{room.capacity}"%></h3>
        </div>
    </tr>


    <td>
      <div>
        <% (1..7).each do |day| %>
            <div class="list-view-pf-body">
              <td>
                <ul class="list-group-item list-group-item-heading active"><%= week_day_convert(day) %></ul>
                <% room.shifts.where(day_of_week: day).order("start_time").each do |shift| %>
                <ul class="list-group-item-text">
                  <%= shift.start_time %>,
                  <%= shift.room.capacity - shift.prebooked - shift.offsprings.count%>
                  plazas <%=pluralize shift.offsprings.count, 'catecúmeno'%></ul>
                <% end %>
              </td>

            </div>
        <% end %>
      </div>
    </td>
</div>

