<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="es">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
    <title><%=full_title(yield(:title))%></title>

    <%= render 'layouts/shim' %>
                  
                  <!-- PatternFly Styles -->
            <link href="bower_components/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
            <link href="bower_components/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">     
                  <!-- jQuery -->
            <script src="bower_components/jquery/dist/jquery.min.js"></script>
                  <!-- Bootstrap -->
            <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                  <!-- PatternFly -->
            <script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>
  
</head>
  <body>
    <%= render 'layouts/header' %>
     
    <%= render 'layouts/flash' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="well-lg">
       <%= debug(params) if Rails.env.development? %>
   </div>
  </body>
</html>